[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
requests = "*"
mysqlclient = "*"
pycryptodome = "*"
pyjwt = "*"

[dev-packages]
python-language-server = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.7"
