dont-be-evil.cn {
    log /var/log/caddy/access.log
    root /root/forum-wechat/app
    proxy / web:5000 {
        transparent
    }

    tls kaiwkx@foxmail.com {
        ca https://acme-staging-v02.api.letsencrypt.org/directory
    }
}
